/* Секция "особености работы" */
.features {
   padding: 94px 0 94px 0;
}
/*  скрытый заголовок */
.visually-hidden {
   position: fixed;
   width: 1px;
   height: 1px;
   margin: -1;
   clip: rect(0 0 0 0);
}
.features__list {
   width: 100%;
   display: inherit;
   justify-content: space-around;
}
.features__item {
   width: 270px;
}

.features__header {
   text-transform: uppercase;
   font-size: inherit;
   font-weight: 700;
   line-height: inherit;
   margin-top: $basic-card-gap;
}
.features__text {
   margin-top: 10px;
   line-height: 1.714;
   letter-spacing: 0.03em;
   color: $second-text-color;
}
