/* секция Наша команда */
.our-team {
   background-color: $bg-team-filter;
   padding: 94px 0 94px 0;
}

.our-team__main-header {
   font-weight: bold;
   font-size: 36px;
   line-height: 1.166;
   text-align: center;
   letter-spacing: inherit;
   margin-bottom: 50px;
}
.our-team__list {
   display: flex;
}
.our-team__item {
   background-color: $main-color;
   border-radius: 0px 0px 3px 3px;
   box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.15);
   margin-right: $basic-card-gap;

   &:last-child {
      margin-right: 0;
   }
}
.our-team__card-description {
   padding: 30px;
}
.our-team__name {
   font-weight: 500;
   font-size: 16px;
   text-align: center;
   line-height: 1.187;
   letter-spacing: inherit;
   margin-bottom: 10px;
}
.our-team__position {
   font-size: 16px;
   letter-spacing: inherit;
   text-align: center;
   line-height: 1.187;
   margin-bottom: 16px;
   color: $second-text-color;
}
